# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
 
# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs
 
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
 
# Visual Studio 2015 cache/options directory
.vs/
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
